footer {
  background: black;
}

header {
  position: relative;
  background-image: url('/images/phone1.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  height: 270px;
}

header .col {
  color: white;
  text-align: center;
  margin-top: 120px;
}
